/* Dashboard */

main.dashboard{
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    /* margin: 1px */
    /* background-color: red; */
}


.dashboard .usermanager{
    flex:0.5;
    min-height: 40vh;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    /* margin-top: 0vh; */
    padding-top:20px;
}
.dashboard .usermanager .tasklist{
   flex:0.5;
   border-right: solid 2px #c4c4c4;
   color: white;
   /* background-color: violet; */
}


.dashboard .usermanager .createBlog{
    flex: 1.5;
    min-height:50vh;
    /* margin-top: 20px; */
    /* background-color: yellowgreen; */
}

form{
    display: flex;
    /* background-color: blue; */
    flex-direction: row;
    flex: 1;
    height: 100%;
}
form .blogtext{
    flex: 1;
    display: flex;
    /* background-color: rgb(177, 148, 17); */
    flex-direction: column;
    margin:2px;
    padding:10px;
}
form.addblog .blogtext #namebox{
    height: 200px;
    margin-bottom: 10px;
    margin-top:-13px;
    padding-left: 30%;
}
form.addblog .blogtext #category{
    height: 40px;
    margin-bottom: 10px;
}
form .blogupload{
    
    align-items: center;
    flex: 1;
    display: flex;
    /* background-color: rgb(231, 29, 170); */
    flex-direction: row;
}
form.addblog .blogupload .uploadstatus{
    /* background-color: green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex:0.5;
    margin-left: 40px;
    margin-right: 40px;
}
form.addblog .blogupload .uploadstatus #select{
    margin-top: 3px;
    height: 30px;
    font-size: large;
    text-align: center;
}
form.addblog .blogupload .uploadstatus #upload{
   margin-top: 3px;
   height: 30px;
   font-size: large;
   text-align: center; 
}

form.addblog .blogupload .imageinfo{
    flex:1;
    /* border-right: 2px solid rgb(71, 10, 185); */
    height: 100%;
    /* background-color: greenyellow; */
}
form.addblog .blogupload img#myimg{
   margin-left: 50px;
    height: 200px;
    width:190px;
    border:2px solid #c4c4c4;
    margin-bottom: 10px;
}
form.addblog .blogupload #UpProgress{
   border: 2px solid #c4c4c4;
   height: 30x;
   width: 140px;
   margin-left: 50px;
}


.dashboard .blogmanager{
    background-color: yellow;
    flex:1.5;
    min-height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
main .blogmanager .blogdashboard{
    flex:1.5;
    overflow-y: scroll;
}
main .blogmanager .bloglist div{
   
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid white;
}
main .blogmanager .bloglist div .blog-one{
   
    background-color: rgb(52, 9, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height:240px;
    border: 2px solid white;
    padding: 3px 20px;
}
main .blogmanager .bloglist div .blog-one p{
   flex:1.5;
}
main .blogmanager .bloglist div .blog-one img{
   flex:0.5;
}
main .blogmanager .bloglist div .blog-two{
    height: 30px;
    background-color: rgb(112, 216, 121);
    display: inline;
    margin-left: 20px;
    border: 2px solid white;
}
main .blogmanager .bloglist div .blog-two .delete{
    display: inline;
    margin-left:20px;
    margin-top: 5px;
}
main .blogmanager .bloglist div .blog-two p{
    display: inline;
    margin-left:20px;
    margin-top: 5px;
}
main .blogmanager .bloglist div .blog-two p span{
    color: darkcyan;
    margin-right:3px;
    
}
main .blogmanager .bloglist div .blog-two .update{
    display: inline;
    margin-left:20px;
    margin-top: 5px;
}
main .blogmanager .bloglist div .blog-two button[type="submit"]{
    display: inline;
    margin-left:20px;
    margin-top: 5px;
}
main .blogmanager .bloglist div .blog-two .myBtn{
    display: inline;
    margin-left:20px;
    margin-top: 5px;
}
